body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdf6ec;
}

header {
    background-color: #6186ff;
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgb(220, 228, 250);
}

.profile {
    text-align: center;
}

.profile img {
    width: 250px;
    border-radius: 15px;
}

.section {
    margin-top: 30px;
}

.section h2 {
    color: #7982fa;
    border-bottom: 2px solid #7e71fa;
    display: inline-block;
    padding-bottom: 5px;
}

ul {
    list-style: square;
    padding-left: 20px;
}

.gallery img {
    width: 30%;
    margin: 5px;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
